.content-image-column {
  padding-left: $padding-horizontal-base;
  padding-right: $padding-horizontal-base;
  margin-top: $margin-vertical-base;
  margin-bottom: $margin-vertical-base;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);

  .col {
    @include flexbox();
    @include justify-content(center);
    @include flex(1 1 auto);
  }

  &.image-first .col:first-child {
    @include order(2);
  }

  .inner {
    max-width: 55rem;

    h2 {
      margin-top: 0;
    }

    p {
      font-family: $font-family-sans;
    }
  }

  @media(min-width: 768px) {
    .col {
      padding: 0 3rem;
      @include flex(0 0 50%);
    }
  }
}
