.fullscreen-slider {
  height: 100vh;
  overflow: hidden;

  .bx-controls {
    position: absolute;
    z-index: 5;
    right: $padding-horizontal-base;
    bottom: $padding-vertical-base;

    .bx-pager-item {
      display: inline-block;
      margin: 0 .5rem;
    }

    a {
      font-size: 0;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #fff;
      @include transition(all 200ms ease);
      @include border-radius(100%);

      &:hover {
        border-color: $gold;
      }
    }

    a.active {
      background: #fff;
      &:hover {
        border-color: #fff;
      }
    }
  }

  .slides {
    height: 100vh;
    background: #ccc;

    .slide {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center center;
    }

    .content {
      color: #fff;
      position: absolute;
      left: $padding-horizontal-base;
      bottom: $padding-vertical-base;

      .btn {
        color: #fff;
        padding: 0;
        border: none;

        &:hover {
          color: $gold;
        }

        &:after {
          display: none;
        }
      }
    }

    h2 {
      margin: 0;
    }
  }
}
