.next-collection {
  margin: $margin-vertical-base auto;

  .col {
    padding: 2rem;
  }

  .col.cta {
    background-image: url(img/bg-pattern.png);
    background-size: cover;
    background-position: center center;
    padding: 10vw 3rem;
  }

  h3 {
    font-size: 3.6rem;
    line-height: 1.3em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .image {
    padding: 0 3rem;
  }

  @media(min-width: 768px) {
    & {
      @include flexbox();
      @include align-items(center);
    }

    .col {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      @include flex(0 0 50%);
    }
  }
}
