.simple-content {
  padding: $margin-vertical-base $margin-horizontal-base;
  @include flexbox();
  @include justify-content(center);

  .content {
    text-align: center;
    max-width: 600px;

    p {
      font-family: $font-family-sans;
    }
  }
}
