.full-width-image {
  @media(min-width: 992px) {
    height: calc(100vh - 9rem);
    width: 100%;
    height: calc(100vh - 6rem);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 40px rgba(0,0,0,.08) inset;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    @media(min-width: 992px) {
      display: none;
    }
  }
}
