.newsletter-signup {
  padding: 5rem $margin-horizontal-base;
  @include flexbox();
  @include justify-content(center);
  @media(min-width: 768px) {
    padding: 10rem $margin-horizontal-base;
  }
  @media(min-width: 1440px) {
    padding: 15rem $margin-horizontal-base;
  }

  .content {
    width: 100%;
    max-width: 80rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 6rem;
    text-align: center;
  }

  #mc_embed_signup div.mce_inline_error {
    position: absolute;
    left: 50%;
    top: 100%;
    background: $gold;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1.3rem 2.5rem;
    font-family: $font-family-sans;
    white-space: nowrap;
    @include transform(translateX(-50%));
  }

  #mce-responses {
    max-width: 60rem;
    font-family: $font-family-sans;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: #777;
    @include flex(0 0 100%);
  }

  form {
    padding-bottom: 2rem;
    position: relative;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include placeholder{color: $gold;}

    & > div {
      margin-bottom: 3rem;
      @include flexbox();
      @include flex(0 0 100%);
      @include align-items(center);
    }

    label {
      display: none;
      color: $text-color;
      letter-spacing: .1rem;
      margin-right: 1rem;
    }

    input[type=text],
    input[type=email] {
      border: none;
      margin: 0;
      padding: 0;
      outline: none;
      border-bottom: 2px solid #cbcbcb;
      background: none;
      font-family: $font-family-base;
      text-align: center;
      @include flex(1 0 auto);
    }

    input[type=submit] {
      color: $text-color;
      letter-spacing: .1rem;
      border: none;
      background: transparent;

      &:hover {
        color: $gold;
      }
    }
  }

  @media(min-width: 768px) {
    form {
      border-bottom: 2px solid #cbcbcb;
      @include justify-content(space-between);

      & > div {
        margin-bottom: 0;
        @include flex(1 0 auto);
      }

      label {
        display: block;
        @include flex(0 0 auto);
      }

      input[type=text],
      input[type=email] {
        border: none;
        color: $gold;
        text-align: left;
        @include flex(1 0 0);
      }
    }
  }
}
