body {
  background-color: red; 
}

/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'Termina', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans: 'Miller Text', 'Times New Roman', Georgia, serif;
$font-size-base: 1.6rem;
$line-height-base: 1.7;


/**
 * Colors
 */

$text-color: #6d5e67;
$gold: #b99656;
$selection-bg: $gold;


/**
 * Grid
 */

$wrapper-width: 1280px;
$padding-horizontal-base: 3rem;
$padding-vertical-base: 10vw;
$margin-horizontal-base: 3rem;
$margin-vertical-base: 10vw;
$margin-vertical-base-2: 5vw;
