.registration-form {

  .form-container {
    padding: 0 $padding-horizontal-base;
    margin: $margin-vertical-base auto;
    text-align: center;
    @media(min-width: 768px) {
      margin: $margin-vertical-base-2 auto;
    }
  }

  .error,
  .validation-errors {
    max-width: 80rem;
    text-align: center;
    font-style: italic;
    margin: 6rem auto;
    color: $gold;
  }
}
