.full-collection {
  padding: 0 $margin-horizontal-base 5vw $margin-horizontal-base;
  background-size: contain;
  text-align: center;

  .image {
    margin-bottom: 5vw;
  }

  .content {
    max-width: 600px;
    margin: 0 auto;

    p {
      font-family: $font-family-sans;
    }
  }

  svg {
    margin-top: 5vw;
    max-width: 386px;
    fill: #BBB6AD;
  }
}
