#wholesale-inquiries-form {

  .flexible-content {
    padding-bottom: 3rem;
    @media(min-width: 992px) {
      padding-bottom: 5rem;
    }
  }
}

#category-select-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 110rem;
  margin: 0 auto;

  .option {
    margin: 0 1rem 2rem 1rem;
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    background: #f9f9f9;
    @media(min-width: 992px) {
      flex: 0 0 calc(33.33% - 4rem);
      max-width: calc(33.33% - 4rem);
      margin: 0 2rem 2rem 2rem;
    }

    label {
      cursor: pointer;
    }

    .input {
      background: #fff;
      text-align: center;
      padding: 2rem;

      input {
        position: absolute;
        left: -9999px !important;
      }

      span {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.2rem;
        line-height: 1.5em;
        display: inline-block;
      }

      span:before {
        content: '';
        display: block;
        vertical-align: middle;
        line-height: 1;
        width: 15px;
        height: 15px;
        border: 1px solid #BCBCBC;
        background: #f9f9f9;
        border-radius: 100%;
        margin: 0 auto 1rem auto;
        transition: all 300ms ease;
        @media(min-width: 992px) {
          display: inline-block;
          margin: 0 1rem 0 0;
          width: 25px;
          height: 25px;
        }
      }

      input[type=checkbox]:checked + span:before {
        background: #AFCD3B;
        border-color: #B99656;
      }
    }
  }

  .all {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    background: none;

    label {
      text-align: center;
    }

    .input {
      display: inline-block;
    }
  }
}
