#woocommerce-main {
  max-width: 144rem;
  margin: 0 auto;

  &:after {
    content: '';
    display: block;
    clear: both;
    opacity: 0;
  }

  .page-nav-bar{
    a {
      @media screen and (min-width: 768px){
        margin: 2rem;
      }
    }
  }

  /**
   * Single Product
   *
   */

  div.product {
    margin: 5rem auto;
    padding: 0 2rem;
    @media(min-width: 992px) {
      margin: 8rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media(min-width: 992px) {
      & > .flexible-content {
        flex: 0 0 100%;
      }
    }

    /**
     * Product Image Slider
     *
     */

    .load-delay {
      li img {
        display: none;
      }
       li:first-child img {
        display: block;
      }
    }

    #product-bxslider {
      width: 100%;
      max-width: 50rem;
      display: block;
      margin: 0 auto;
      padding: 0 2rem 2rem 2rem;
      position: relative;
      @media(min-width: 768px) {
        padding: 2rem;
      }
      @media screen and (min-width: 992px) {
        display: inline-block;
        flex: 0 0 50%;
        max-width: 51.5rem;
      }

      #gallery-bxslider {
        list-style: none;
      }

      .bx-wrapper {
        position: relative;

        .bx-viewport {
          height: auto !important;

          #gallery-bxslider {
            list-style: none; 

            li {
              width: 100%;
              text-align: center;
              list-style: none;

              img {
                vertical-align: middle;
              }
            }
          }
        }

        .bx-controls {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          pointer-event: none;

          .bx-prev,
          .bx-next {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-100%);
            pointer-events: auto;
            font-size: 3rem;
            color: #ccc;
            line-height: 1;

            &:hover {
              color: $gold;
            }
          }

          .bx-next {
            left: auto;
            right: 0;
            transform: translateX(100%);
          }
        }
      }

      #bxslider-pager {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        padding: 2rem;

        li {
          margin: 0 .5rem;
          padding: 1rem;
          border: 1px solid #eee;
          flex: 0 0 7rem;

          &.active {
            border-color: $gold;
          }
        }
      }
    }

    div.summary {
      max-width: 51.5rem;
      @media(min-width: 992px) {
        flex: 0 0 50%;
      }
    }

    .product-dimensions {
      font-style: italic;
      margin-bottom: 1em;
    }

    .woocommerce-product-details__short-description {
      font-family: $font-family-sans;
      margin-bottom: 3rem;

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    p.price,
    div.product span.price {
      color: inherit;

      ins,
      del {
        margin-right: 1rem;
      }

      ins {
        text-decoration: none;

        .woocommerce-Price-amount {
          color: #b99656;
          text-decoration: none;
        }
      }

      & > .woocommerce-Price-amount {
        color: #b99656;
        text-decoration: none;
      }
    } // .price

    .on-sale {
      margin-top: 0;
      text-transform: uppercase;
      color: #b99656;
      font-size: 1.2rem;
    }

    .quantity {
      float: none;
      margin-bottom: 2rem;

      .input-group-button button {
        font-size: 1.5rem;
      }
    }

    button[type=submit] {
      display: block;
      float: none;
      border-radius: 0;
      border: .1rem solid $text-color;
      background: transparent;
      color: $text-color;
      font-size: 1.2rem;
      padding: 2rem 4rem;
      transition: all 200ms ease;

      &:hover {
        background: #b99656;
        border-color: #b99656;
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .product_meta {
      font-size: 1.4rem;
    }
  } // .product

  section.related.products {
    @media(min-width: 992px) {
      flex: 0 0 100%;
    }

    h2 {
      text-align: center;
    }
  }
} // #woocommerce-main

#back-to-shop,
.woocommerce .woocommerce-breadcrumb {
  text-align: center;
  padding: 3rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  border-bottom: .1rem solid #eee;
  border-top: .1rem solid #eee;

  @media screen and (min-width: 768px){
    margin: 0 -3rem;
  }

  a{
    &:hover {
      color: $gold;
    }

    svg {
      fill: $gold;
      transform: rotate(180deg);
    }
  }

  span {
    color: $gold;
  }
} // #back-to-shop

.woocommerce .woocommerce-breadcrumb {
  text-align: left;

  .inner {
    max-width: 110rem;
    margin: 0 auto;
  }
}

.woocommerce-products-header {
  text-align: center;
}

.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce ul.products[class*=columns-] {
  margin: 3rem auto;
  max-width: 120rem;
  @media(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &:before,
  &:after {
    display: none!important;
  }

  li.product {
    padding: 3rem;
    margin: 0;
    float: none !important;
    text-align: center;
    position: relative;
    top: 0;
    transition: all 500ms ease;
    width: auto;
    max-width: 36rem;
    @media(min-width: 768px) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }

    &:hover {
      box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.05);
      top: -1.5rem;
    }

    a {
      &:hover {
        color: inherit;
      }
      .on-sale {
        position: static;
        left: 50%;
        display: inline;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 1rem;
        color: $gold;
      }
    }

    h2,
    h2.woocommerce-loop-product__title {
      font-size: 1.4rem;
    }

    .price {
      color: inherit;

      del,
      ins {
        display: inline-block;
        margin: 0 1rem;
      }

      ins {
        color: #b99656;
        text-decoration: none;
      }
    }
  }
} // .products

#detail-icons {
  border-top: .1rem solid #eee;
  border-bottom: .1rem solid #eee;
  padding: 3rem 0;
  margin: 8rem auto 0 auto;
  @media(min-width: 992px) {
    flex: 0 0 100%;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 77rem;
    margin: 0 auto;
    @media(min-width: 768px) {
      justify-content: center;
    }
  }

  .item {
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    flex: 0 0 calc(50% - 4rem);
    max-width: calc(50% - 4rem);
    align-items: flex-start;
    @media(min-width: 768px) {
      flex: 0 0 calc(20% - 4rem);
      max-width: none;
      margin: 0 2rem;
    }

    .img-wrapper {
      height: 81px;
      line-height: 81px;

      img {
        transform: scale(.7);
        vertical-align: middle;
      }
    }

    p {
      line-height: 1.5em;
      font-size: 1.6rem;
      font-family: $font-family-sans;
      margin: 0;
      height: 72px;
    }
  }
}

section.up-sells {

  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  border: none;
  font-size: 1.4rem;
}

.woocommerce form .form-row {
  label {
    font-size: 1.3rem;
  }

  input.input-text,
  textarea {
    font-family: $font-family-base;
    font-size: 1.4rem;
    border: none;
    background: #f9f9f9;
  }

  input.input-text {
    height: 5rem;
  }

  select {
    -webkit-appearance: none;
  }
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 0;
  background: #f9f9f9;
  height: 5rem;
  line-height: 5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 100%;
  display: inline-block;
  line-height: 5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

// Order Success Page
.woocommerce {

  .woocommerce-order {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;

    ul.order_details {
      padding: 0;
      margin: 3em 0;

      li {
        @media(max-width: 767px) {
          float: none;
          border: none;
          margin: 0 0 2rem 0;
          padding: 0;
        }
      }
    }

    #order-received-details {
      .inner {
        @media(min-width: 768px) {
          margin: 0 -2rem;
          display: flex;
        }

        .col {
          margin: 0 0 2rem 0;

          @media(min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
            padding: 0 2rem;
            box-sizing: border-box;
          }

          table {
            background: #fafafa;

            tr:nth-child(odd) {
              td {
                background: #f2f2f2;
              }
            }
          }
        }
      }
    }
  }

  .woocommerce-customer-details {

    .woocommerce-column {
      margin-bottom: 3rem;
    }

    address {
      border: none;
      padding: 0;
    }
  }
}

#get-inspired {
  max-width: 50rem;
  margin: 5rem auto;
  text-align: center;
}

//cart page {
.cart_item {
  .product-remove {
    a {
      line-height: 100% !important;
      padding: .5rem 0;
    }
  }
}

#cart-footer {
  background: #6d5e67;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  @media(min-width: 768px) {
    text-align: left;
    margin: 0 -3rem;
  }

  .inner {
    padding: 0 3rem;
    @media(min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .logo {
    margin-bottom: 3rem;
    @media(min-width: 768px) {
      margin-bottom: 0;
    }

    svg {
      width: 20rem;
      fill: #fff;
      vertical-align: bottom;
    }
  }

  .cards {
    margin-bottom: 3rem;
    @media(min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .contact {
    a {
      color: #fff;
    }
  }
}
